;; common config (used by cljsbuild and mies)
{:builds {:dev {:src "src"
                :compiler {:main foo.core
                           :output-to "out/foo.js"
                           :output-dir "out"
                           :optimizations :none
                           :verbose true}}
          :release {:src "src"
                    :compiler {:output-to "release/foo.js"
                               :output-dir "release"
                               :optimizations :advanced
                               :verbose true}}}}
