{:builds
 {:planck {:src "src"
           :compiler {:main foo.core
                      :foreign-libs [{:file "node_modules/marked/lib/marked.js"
                                      :provides ["npm.marked"]}]}}}}
